<h1>Editing Distinctive Sign Has Student</h1>

<%= render 'form', distinctive_sign_has_student: @distinctive_sign_has_student %>

<%= link_to 'Show', @distinctive_sign_has_student %> |
<%= link_to 'Back', distinctive_sign_has_students_path %>
