<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @teacher_type.type %>
</p>

<%= link_to 'Edit', edit_teacher_type_path(@teacher_type) %> |
<%= link_to 'Back', teacher_types_path %>
