<h1>Editing Invention Has Teacher</h1>

<%= render 'form', invention_has_teacher: @invention_has_teacher %>

<%= link_to 'Show', @invention_has_teacher %> |
<%= link_to 'Back', invention_has_teachers_path %>
