<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @tech_dev_type.type %>
</p>

<%= link_to 'Edit', edit_tech_dev_type_path(@tech_dev_type) %> |
<%= link_to 'Back', tech_dev_types_path %>
