<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @pub_art_type.type %>
</p>

<%= link_to 'Edit', edit_pub_art_type_path(@pub_art_type) %> |
<%= link_to 'Back', pub_art_types_path %>
