<h1>Editing Pub Chapter Has Student</h1>

<%= render 'form', pub_chapter_has_student: @pub_chapter_has_student %>

<%= link_to 'Show', @pub_chapter_has_student %> |
<%= link_to 'Back', pub_chapter_has_students_path %>
